<aside id="menu">
  <div id="navigation">
    <div class="user-panel">
      <div class="pull-left image user">
        <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" class="img-circle"
             width="100px" alt="User Image">
      </div>
      <div class="pull-left info">
        <div class="font-extra-bold font-uppercase" style="margin-bottom: 3px;">Arun Chandrakar</div>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="nav" id="side-menu">
      <li class="active">
        <a> <span class="nav-label">Contact us</span></a>
      </li>
    </ul>
  </div>
</aside>
