
<div class="footer">
  <div class="footer-subscribe">Subscribe to our newsletter to stay up to date on upcoming Olympiad, offers, and
    discounts details.
  </div>
  <div class="container">
    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="social-icon">
          <a><i class="fa fa-whatsapp"></i></a>
          <a><i class="fa fa-instagram"></i></a>
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Subscribe!
                        </button>
                    </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row no-margin">
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer-box">
            <div class="footer-icon"><i class="fa fa-map-marker"></i></div>
            <div class="footer-title">Office Address</div>
            <p class="footer-info">FF-120, Atmiya Complex, Near Makarpura GIDC, Maneja Crossing Vadodara,
              Gujarat India-390013</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer-box">
            <div class="footer-icon"><i class="fa fa-envelope"></i></div>
            <div class="footer-title">Contact us</div>
            <p class="footer-info">
              Email - <a>info@ipfide.com</a> <br>
              WhatsApp - <a>+91 9179999422</a><br>
              WhatsApp - <a>+91 9179999422</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-7">
      <div class="footer-link-box">
        <div class="text-center ls1 footer-title">Important Links</div>
        <div class="row">
          <div class="col-sm-4">
            <a routerLink="/contact_us/"><i class="fa fa-caret-right"> Contact Us</i></a>
            <a><i class="fa fa-caret-right"> Our Services</i></a>
            <a><i class="fa fa-caret-right"> IP Bank</i></a>
            <a><i class="fa fa-caret-right"> Virtual R&D</i></a>
          </div>
          <div class="col-sm-4">
            <a><i class="fa fa-caret-right"> Amplify Research</i></a>
            <a><i class="fa fa-caret-right"> Amplify Idea</i></a>
            <a><i class="fa fa-caret-right"> Refund Policy</i></a>
            <a><i class="fa fa-caret-right"> Amplify Projects</i></a>
          </div>
          <div class="col-sm-4">
            <a><i class="fa fa-caret-right"> Sell your Patent</i></a>
            <a><i class="fa fa-caret-right"> Sell Your Copyright</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer-subscribe">© 2020 by IPFIDE - Research Amplified. Powered by MYCrave Consultancy and services.
  </div>
</div>
