$primary-color: #8A39E1;
$background-color: rgba(165, 166, 246, 0.2);
$background-block: #F0F0F0;
$footer-color: #455A64;
.text-red {
 color: red;
}
//.primary-color{
// color: $primary-color !important;
//}

