<div style="background: var(--background-color)">
  <div class="container">
    <div class="panel panel-default" style="margin: 30px;">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <form #contactUsForm="ngForm" (ngSubmit)="contactForm(contactUsForm.value)">
              <div class="row">
                <div class="form-group col-sm-12" [class]="{'has-error': name.invalid && name.dirty}">
                  <label for="name">Full Name</label>
                  <input class="form-control" #name="ngModel" required minlength="3" placeholder="Full Name" name="name"
                         id="name" ngModel>
                </div>
                <div class="form-group col-sm-6" [class]="{'has-error': email.invalid && email.dirty}">
                  <label for="email">Email ID</label>
                  <input class="form-control" #email="ngModel" ngModel required
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email ID" name="email"
                         id="email">
                </div>
                <div class="form-group col-sm-6" [class]="{'has-error': number.invalid && number.dirty}">
                  <label for="number">Number</label>
                  <input class="form-control" #number="ngModel" ngModel type="number" required pattern="[6789][0-9]{9}"
                         placeholder="Number" name="number" id="number">
                </div>
                <div class="form-group col-sm-12" [class]="{'has-error': subject.invalid && subject.dirty}">
                  <label for="subject">Subject</label>
                  <input class="form-control" #subject="ngModel" required placeholder="Full Name" name="subject"
                         id="subject" ngModel>
                </div>
                <div class="form-group col-sm-12" [class]="{'has-error': message.invalid && message.dirty}">
                  <label for="message">Message</label>
                  <textarea class="form-control" #message="ngModel" required placeholder="Full Name" name="message"
                            id="message" ngModel></textarea>
                </div>
                <div class="form-group col-sm-12">
                  <button [disabled]="contactUsForm.invalid" class="btn btn-primary btn-block">Send Message</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
