<div style="background: var(--background-color)">
  <div class="container">
    <div class="panel panel-default" style="margin: 30px;">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <form #contactForm="angForm">
              <div class="row">
                <div class="form-group col-sm-12">
                  <label for="name">Full Name</label>
                  <input class="form-control" placeholder="Full Name" name="name" id="name">
                </div>
                <div class="form-group col-sm-6">
                  <label for="email">Email ID</label>
                  <input class="form-control" placeholder="Email ID" name="email" id="email">
                </div>
                <div class="form-group col-sm-6">
                  <label for="number">Number</label>
                  <input class="form-control" placeholder="Number" name="number" id="number">
                </div>
                <div class="form-group col-sm-12">
                  <label for="subject">Subject</label>
                  <input class="form-control" placeholder="Full Name" name="subject" id="subject">
                </div>
                <div class="form-group col-sm-12">
                  <label for="message">Message</label>
                  <textarea class="form-control" placeholder="Full Name" name="message" id="message"></textarea>
                </div>
                <div class="form-group col-sm-12">
                  <button class="btn btn-primary btn-block">Send Message</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
